{% extends 'base.html' %}
{% block body %}
    <div class="container">
            <div class="row border mt-4 p-3 color02">
                <div class="col col-2 text-center text-capitalize me-3">
                    <div class=""><img src="{{ url_for('static', filename='media/{}'.format(post.author.profile_picture)) }}" alt="profile_pricture" class="rounded-circle img-thumbnail"></div>
                    <strong>{{ post.author.username }}</strong>
                        <div class="row justify-content-center">
                                {% if post.author.courses %}
                                    {% for course in post.author.courses.split(';') %}
                                    <button type="button" class="btn btn-success mt-2 fw-bolder" disabled>
                                        {{ course }}
                                    </button>
                                    {% endfor %}
                                {% else %}
                                    <button type="button" class="btn btn-success mt-2 fw-bolder" disabled>
                                        No Courses Registered :(
                                    </button>
                                {% endif %}
                        </div>
                </div>
                <div class="col col-9 ">
                    <h3 class="text-capitalize">{{ post.title }}</h3>
                    <hr>
                    <p>{{ post.body }}</p>
                </div>
            </div>
    </div>
    <div class="row mt-5"></div>
{% endblock body %}