{% extends 'base.html' %} 
{% block body %}
<div class="container mt-5 d-flex justify-content-center">
  <div class="card p-3 col-5 border-0 bg-light">
    <div class="d-flex align-items-center">
        <img src="{{ profile_picture }}" class="rounded img-thumbnail col-md-4 me-2"/>
      <div class="col">
        <h4 class="mb-0 mt-0 text-capitalize">{{ current_user.username }}</h4>
        <span>{{ current_user.email }}</span>
        <div class="p-2 mt-2 bg-white d-flex justify-content-evenly rounded">
          <div class="d-flex flex-column">
            <span class="articles">Courses</span>
              {% if 'Not Informed' in current_user.courses or current_user.courses == '' %}
              <span class="fw-bold">0</span>
            {% else %}
              <span class="fw-bold">
                {{ current_user.courses.count(';') + 1 }}
              </span>
            {% endif %}
          </div>
          <div class="d-flex flex-column">
            <span class="rating">Posts</span> 
            <span class="fw-bold">{{ current_user.count_post() }}</span>
          </div>
        </div>
        <div class="mt-2">
          <a href="{{ url_for('edit_profile')}}">
            <button class="btn btn-sm btn-outline-primary w-100">
              Edit Profile
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col col-4 text-center">
      <strong>Courses</strong><br />
      {% if current_user.courses %} 
        {% for course in current_user.courses.split(';') %}
          <button type="button" class="btn btn-success mt-2 fw-bolder" disabled>
            {{ course }}
          </button>
        {% endfor %} 
      {% else %}
        <button type="button" class="btn btn-success mt-2 fw-bolder" disabled>
        No Courses Registered :(
        </button>
      {% endif %}
    </div>
  </div>
</div>
{% block edit_profile %} 
{% endblock edit_profile %} 
{% endblock body %}
