/* Fundo */
#color01 { 
    background-color: #f2b727;
}

.card {
    border-radius: 10px;
}

.articles {
    font-size: 10px;
    color: #a1aab9
}

.followers {
    font-size: 10px;
    color: #a1aab9
}

.rating {
    font-size: 10px;
    color: #a1aab9
}

.color02 { 
    background-color: #d2d9df;
}